{% extends 'index.html' %}

{% block about %}
    <div>
        <div class="hakkimda">
            <h1>Merhaba, ben Rüzgar</h1>
            <p>Ben kodlama kursu alıyorum ve bu benim geliştirdğim web sitem.</p>
        </div>
        
        <div class="hakkimda">
            <h1>Hakkımda</h1>
            <p>Yaşım 13 1-2 yıldır kodlandtan kodlama dersleri alıyorum. Ailemde 4 kişiyiz ben en küçüğüm.</p>
        </div>
        
        <div class="hakkimda">
            <h1>Projeler</h1>
            <p>Kodland kursunda iken bir çok projem oldu. Bu da onlardan biri. Bu projede discord botu, web sitesi ve özet çıkaran bi kodu birleştirdim.</p>
        </div>
        
        <div class="hakkimda">
            <h1>İletişim</h1>
            <p>E-posta :ruzgardivarci@hotmail.com
               Gmail :ruzgardivarci2@gmail.com
            </p>
        </div>
        
    </div>
    
{% endblock %}

{% block home %}
{% endblock %}

{% block ev %}
{% endblock %}

